.game-box {
  background-color: lightgrey;
  text-align: center;
  border: 1px solid grey;
  border-radius: 1em;
  display: grid;
  position: absolute;
  top: 9em;
  width: 90%;
  height: 35%;
  z-index: 2;
}

.showing-modal {
  display: none;
}
